#switch{
	transition: width 1s, transform 1s;
}
.myicon{
	position: absolute;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	transform: translateX(-50%) translateY(-50%);
	width: 50%;
	height: 6.18%;
	background-color: #ffffff;
	transition: width 0.5s, transform 0.5s;
}
.myicon::after{
	content: " ";
	bottom: 0; /* 这两个定死了点 */
	right: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: inherit;
	top: 6px;
	transition: width 0.5s, transform 0.5s;
}
.myicon::before{
	content: " ";
	top: 0; /* 这两个定死了点 */
	right: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: inherit;
	top: -6px;
	transition: width 0.5s, transform 0.5s;

}
.no-open #switch:hover .myicon::after {
  	top: 8px;
}
.no-open #switch:hover .myicon::before {
	top:-8px;
}
.open #switch{
	transform: rotate(180deg); 
	transition: width 0.5s, transform 0.5s;
}
.open .myicon::after{
	width: 50%;
	transform: rotate(-45deg); 
	transition: width 0.5s, transform 0.5s;
}
.open .myicon::before{
	width: 50%;
	transform: rotate(45deg); 
	transition: width 0.5s, transform 0.5s;
}